<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morningtel.onekilo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
	
	<!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
  	<uses-feature android:name="android.hardware.camera" android:required="false"/>
  	<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
  	<!-- TODO replace above two with next line after Android 4.2 -->
  	<!-- <uses-feature android:name="android.hardware.camera.any"/> -->
  	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
  	<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
  	<uses-feature android:name="android.hardware.screen.landscape"/>
  	<uses-feature android:name="android.hardware.wifi" android:required="false"/>
  	<!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
  	<uses-feature android:name="android.hardware.touchscreen"/>
  	<!-- TODO make this not required again after android.hardware.camera.any is available -->
    
	<permission
        android:name="com.morningtel.onekilo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
  
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.morningtel.onekilo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>      
    
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    

    <application
        android:name=".OneKiloApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 您从百度网站获取的APP KEY -->
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="28816c912c" /> <!-- abcd1234 -->
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="Baidu Market" />

		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
		<!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" />  -->
		<!-- 日志仅在wifi网络下发送，默认为false -->
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
		<!-- 是否获取基站位置信息 ,默认为true-->
		<meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
		<!-- 是否获取GPS位置信息，默认为true -->
		<meta-data android:name="BaiduMobAd_GPS_LOCATION" android:value="true" />
		<!-- 是否获取WIFI位置信息，默认为true -->
		<meta-data android:name="BaiduMobAd_WIFI_LOCATION" android:value="true" />
        
        <activity
            android:name=".login.SplashActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" 
            android:launchMode="singleInstance"
            android:theme="@style/LoginOverlay"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/LoginOverlay" android:name=".login.LoginActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>               
        <activity android:theme="@style/LoginOverlay" android:name=".main.MainActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>               
        <activity android:theme="@style/ContentOverlay" android:name=".localService.LocalServiceActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".hot.WebInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".hot.WebInfoTabActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".mappois.MappoisActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".addform.AddFormActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".addform.ImageChoiceActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".message.MessageActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".community.CommunityActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".setting.SettingActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".voice.VoiceSignActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        <activity android:theme="@style/ContentOverlay" android:name=".sign.SignActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        
        <service android:name=".service.MusicService"></service>
        
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.9" >
                </action>
            </intent-filter>
        </service>
        
    	<!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.morningtel.onekilo" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>    
        
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.morningtel.onekilo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
   
        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <category android:name="com.morningtel.onekilo" />
            </intent-filter>
        </receiver>
         
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="5e265d5e02acc285991a68fb" /> <!--  </>值来自开发者平台取得的AppKey-->
        
    	<activity android:name=".jpush.JpushActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>               
    	
    	<receiver android:name=".service.GuardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name=".service.GuardService"></service>
        
        <activity android:theme="@style/ContentOverlay" android:name=".bundle.LauncherActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation"></activity>       
        
        <activity
            android:name="org.apkplug.app.apkplugActivity"  
            android:theme="@style/LoginOverlay"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>
